TeacherModule/.phpunit.cache
TeacherModule/node_modules
TeacherModule/public/build
TeacherModule/public/hot
TeacherModule/public/storage
TeacherModule/storage/*.key
TeacherModule/vendor
TeacherModule/.env
TeacherModule/.env.backup
TeacherModule/.env.production
TeacherModule/.phpunit.result.cache
TeacherModule/Homestead.json
TeacherModuleH/omestead.yaml
TeacherModule/auth.json
TeacherModule/npm-debug.log
TeacherModule/yarn-error.log
TeacherModule/.fleet
TeacherModule/.idea
TeacherModule/.vscode
TeacherModule/.github

